Package: com.robloxexecutor
Name: RobloxExecutor
Depends: mobilesubstrate, firmware (>= 14.0)
Version: 1.0.0
Architecture: iphoneos-arm64
Description: Roblox Lua script executor for iOS.
Maintainer: poncipp
Author: poncipp
Section: Tweaks
